.projectImg{
    width: 20rem;
    border-radius: 1rem;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
    width: 350px;
    height: 400px;
}
.projectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.projectDetailsContainer{
    width: 25rem;
}
.smallText{
    display: none;
    font-size: var(--small-font-size);
    padding: .4rem;
    margin-top: 1rem;
}
.projectSection{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
@media screen and (max-width: 992px) {
    .projectContainer{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .projectDetailsContainer{
        display: none;
    }
    .imgContainer{
        height: 500px;
    }
    .smallText{
        display: block;
    }
}
@media screen and (max-width: 350px) {
    .imgContainer{
        height: 500px;
    }
    .projectContainer{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}